<aside class="sidebar" aria-labelledby="serverinfoheadline">
    <server-stats></server-stats>
</aside>
<main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
        <h2 class="main-headline" id="deviceheadline">Heizkörper Badezimmer</h2>
    </div>
    <div class="details-holder">

        {{device | async}}

        <continuous-control></continuous-control>
        <discrete-control></discrete-control>
        <boolean-control></boolean-control>
    </div>

</main>