<aside class="sidebar" aria-labelledby="serverinfoheadline">
    <server-stats></server-stats>
</aside>
<main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="{{device.id}}" class="details-headline">
        <h2 class="main-headline" id="deviceheadline">{{device.display_name}}</h2>
    </div>
    <div class="details-holder">
        <ng-container *ngFor="let control of device.control_units">
            {{control.name}}
            <ng-container [ngSwitch]="control.type">
                <continuous-control *ngSwitchCase="controlType.continuous" [control]="control"></continuous-control>
                <discrete-control *ngSwitchCase="controlType.enum" [control]="control"></discrete-control>
                <boolean-control *ngSwitchCase="controlType.boolean" [control]="control"></boolean-control>
            </ng-container>
        </ng-container>
    </div>

</main>